<nav class="side-nav">
  <ul>
    {% for item in menu.children if item.displayed %}
      <li>
        <a class="{% if item.hasChildren %}arrow{% endif %}{% if matcher.isCurrent(item) or matcher.isAncestor(item) %} active{% endif %}"
           href="{{ item.uri }}">{{ item.label }}</a>
        {% if item.hasChildren and matcher.isCurrent(item) or matcher.isAncestor(item) %}
          <ul class="sub-nav">
            {% for child in item.children if child.displayed %}
              <li>
                <a {% if matcher.isCurrent(child) or matcher.isAncestor(child) %}class="active"{% endif %}
                   href="{{ child.uri }}">{{ child.label }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
