/web/bundles/
!/web/upload/documents
/web/upload/images
/web/upload/j/
/web/media/
/web/cgi-bin/
/web/assetic/
/app/bootstrap*
/app/cache/*
/app/import/*
/app/logs/*
/app/config/parameters.yml
/app/deploy/
/app/search/
/app/spool/
/vendor/
/.idea
/composer.lock
/*.sql
/bin/