{% extends "::base.html.twig" %}

{% block content %}
  <div class="content grid">
    <div class="sidebar">
      {{ ns_cms_area(blocks, 'sidebar') }}
    </div>
    <article class="article">
      {{ ns_cms_area(blocks, 'content') }}
    </article>
  </div>
{% endblock content %}
